body>div{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.create{
    background-color: #EDCEDC;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 310px;
}
.create-task{
    margin-left: 25px;
}

.new{
    background-color: #9899EB;
    width: 350px;
    height: auto;
}

.active{
    background-color: #B398EB;
    width: 350px;
    height: auto;
}

.test{
    background-color: #CE99EB;
    width: 350px;
    height: auto;
}

.done{
    background-color: #EAD3EB;
    width: 350px;
    height: auto;
}