<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script defer src="js/vue.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <script  defer src="js/main.js"></script>
</head>
<body>
<div class="board" id="app">
    <div class="create">
        <form class="create-task" @submit.prevent="createTask">
            <p>
                <label>Название карточки:</label>
                <input type="text" v-model="name">
            </p>

            <p>
                <label>Task1:</label>
                <input name="task1" v-model="task1">
            </p>

            <p>
                <input type="submit" value="Отправить">
            </p>
        </form>
    </div>

    <div class="new">
        <p v-if="!tasks.length">There are no tasks yet.</p>
        <ul v-else>
            <li v-for="task in tasks">
                <p>{{ task.name }}</p>
                <p>{{ task.task1 }}</p>
            </li>
        </ul>
    </div>

    <div class="active">
    </div>

    <div class="done"></div>
</div>


</body>
</html>

