<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="board">
    <div class="create">
        <form class="create-task">
            <p>
                <label>Название карточки:</label>
                <input type="text" v-model="name">
            </p>

            <p>
                <label>Task1:</label>
                <input name="task1" v-model="task1">
            </p>

            <p>
                <input type="submit" value="Отправить">
            </p>
        </form>
    </div>

    <div class="new">

    </div>

    <div class="active">
    </div>

    <div class="done"></div>
    </div>


</body>
</html>

