<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script defer src="js/vue.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <script defer src="js/main.js"></script>
</head>
<body>
<div class="board" id="app">
    <div class="create">
        <form class="create-task" @submit.prevent="addCard">
            <p>
                <label for="name">Название карточки:</label>
                <input id="name" v-model="formCard.name" required>
            </p>
            <p>
                <label for="task1">Task1:</label>
                <input id="task1" v-model="formCard.task1.taskname">
            </p>
            <p>
                <label for="task2">Task2:</label>
                <input id="task2" v-model="formCard.task2.taskname">
            </p>
            <p>
                <label for="task3">Task3:</label>
                <input id="task3" v-model="formCard.task3.taskname">
            </p>
            <p>
                <label for="task4">Task4:</label>
                <input id="task4" v-model="formCard.task4.taskname">
            </p>
            <p>
                <label for="task5">Task5:</label>
                <input id="task5" v-model="formCard.task5.taskname">
            </p>
            <input type="submit" value="submit">
        </form>
    </div>

    <column1 :column1="column1" :tasks="column1.tasks" v-on:column1_move="changeColumn1(index)"></column1>

    <column2 :column2="column2"></column2>

    <column3 :column3="column3"></column3>
</div>
</body>
</html>
